{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style9.css' %}">
    <title>Story 9 </title>
</head>

<body>
    <!-- Navbar -->
    <nav id ="navbar" class="navbar navbar-expand-lg navbar-static-top" >
        <div  class="container">
            <!-- Menampilkan logo -->
            <a class="navbar-brand" href="/">
            <img src="{% static 'photos/logo.png' %}" alt="" >
            </a>
        </div>
    </nav>

    <!-- Login Page -->
    <div class="container">
        <div class="row">
            <div class="col">
                <p id="TextNama">WELCOME TO MY WEBSITE</p>
                {% if user.is_authenticated == False %}
                <form action="/story9/" method="POST">
                    {% csrf_token %} {{ form }}
                    <br>
                    <div>
                        <!-- Redirect to Register Page -->
                        <a href="register/" id="buttonPrev">
                            REGISTER
                        </a>
                        <button type="submit" name="button-login" class="button" id="buttonPrev">LOGIN</button>
                    </div>
                </form>
                {% else %}
                <!-- If the log in successfull -->
                <h3><u>LOG IN SUCCESSFUL</u></h3>
                <p>Halo, {{ user.username }}!</p>
                <a href="/story9/logout/"><button type="submit" name="button-login" class="button" id="buttonPrev">LOG OUT</button></a> {% endif %}
            </div>
        </div>
    </div>
</body>

</html>