{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Untuk Penggunaan Font Bebas Neue dan Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Menghubungkan css dengan html -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
  <nav id ="navbar" class="navbar navbar-expand-lg navbar-static-top" >
      <div  class="container">
        <!-- Menampilkan logo -->
        <a class="navbar-brand" href="/">
          <img src="{% static 'photos/logo.png' %}" alt="" >
        </a>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    
    <br>
    <div class="container mt-6">
        <div class="container-kegiatan">
            {% for kegiatan in data_kegiatan %}
            <div class="card card-kegiatan" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><b>{{kegiatan.0.nama}} </b></h5>
                    <p class="card-text">
                        Peserta :  <span class="badge badge-primary badge-pill">{{kegiatan.1|length}}</span><br>
                        <div class="list-peserta-container">
                            {% for peserta in kegiatan.1 %}
                            <div class="list-peserta-item">
                                {{peserta.nama}}
                                <button type="button" onclick="deletePeserta({{peserta.id}})" class="close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}      
                        </div>
                    </p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="tambahPeserta('{{kegiatan.0.nama}}',{{kegiatan.0.id}})">Tambahkan Peserta</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Tambahkan Peserta</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    Nama Kegiatan : <span id="namaKegiatan"></span>
                  <form action="" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="id_kegiatan" id="idKegiatan" value="">
                    {{formpeserta}}
                  
                </div>
                <div class="modal-footer">
                  <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit"  class="btn btn-primary">Daftar</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        <h3>Tambahkan Kegiatan Baru</h3>
        <form action="" method="post" class="mt-4 kegiatan-form">
            {{formkegiatan}}
            {% csrf_token %}
            <br>
            <input type="submit" class="btn btn-secondary" id = 'warnaFont'  value="Tambahkan"> 
        </form>
        <form action="" class="d-none" method="post" id="deletePesertaForm">
            {% csrf_token %}
            <input type="hidden" name="delete-peserta" value="" id="deletePeserta">
        </form>
    </div>
    <script>
    function tambahPeserta(namaKegiatan, idKegiatan){
        document.getElementById('namaKegiatan').innerHTML=namaKegiatan;
        document.getElementById('idKegiatan').value=idKegiatan;
    }

    function deletePeserta(pesertaid){
        document.getElementById('deletePeserta').value = pesertaid;
        document.getElementById('deletePesertaForm').submit();
    }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>