{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Untuk Penggunaan Font Bebas Neue dan Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Menghubungkan css dengan html -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav id ="navbar" class="navbar navbar-expand-lg navbar-static-top" >
      <div  class="container">
        <!-- Menampilkan logo -->
        <a class="navbar-brand" href="#">
          <img src="{% static 'photos/logo.png' %}" alt="" >
        </a>
        <!-- Menampilkan navbar icon untuk beberapa device seperti HP -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Menuliskan text ke navbar -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a id = "textNavbar" class="nav-link" href="/story5/#experience">EXPERIENCE</a>
            </li>
            <li class="nav-item">
              <a id = "textNavbar"  class="nav-link" href="/story5/#interestsAndGoals">INTERESTS & GOALS</a>
            </li>
            <li class="nav-item">
              <a id = "textNavbar"  class="nav-link" href="/story5/#skills">SKILLS</a>
            </li>
            <li id = "textNavbar" class="nav-item dropdown ml-4">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style=color:#FFEADB role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  OTHERS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/story5/cv/">Curriculum Vitae</a>
                  <a class="dropdown-item" href="/story5/schedule/">Add Schedule</a>
                  <a class="dropdown-item" href="/story5/schedule/result/">Show Schedule</a>
              </div>
            </li>
            <li class="nav-item active">
              <a id = "textNavbar"  class="nav-link" href="/story5/#profile">ABOUT ME
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <p id="TextNama">SHOW SCHEDULE</p>

    <div class="col">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Mata kuliah</th>
                    <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sch in schedule %}
                        <tr>
                        <td><a id = "warnaFont" href="{% url 'detailschedule' id=sch.id %}">{{ sch.mata_kuliah}}</a></td>
                        <td><a href="{% url 'scheduleremove' id=sch.id %}"><button class="btn btn-icon btn-danger"></button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>