{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Untuk Penggunaan Font Bebas Neue dan Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Menghubungkan css dengan html -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
      <nav id ="navbar" class="navbar navbar-expand-lg navbar-static-top" >
        <div  class="container">
          <!-- Menampilkan logo -->
          <a class="navbar-brand" href="#">
            <img src="{% static 'photos/logo.png' %}" alt="" >
          </a>
          <!-- Menampilkan navbar icon untuk beberapa device seperti HP -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Menuliskan text ke navbar -->
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a id = "textNavbar" class="nav-link" href="/story5/#experience">EXPERIENCE</a>
              </li>
              <li class="nav-item">
                <a id = "textNavbar"  class="nav-link" href="/story5/#interestsAndGoals">INTERESTS & GOALS</a>
              </li>
              <li class="nav-item">
                <a id = "textNavbar"  class="nav-link" href="/story5/#skills">SKILLS</a>
              </li>
              <li id = "textNavbar" class="nav-item dropdown ml-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style=color:#FFEADB role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    OTHERS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/story5/cv/">Curriculum Vitae</a>
                    <a class="dropdown-item" href="{% url 'schedule' %}">Add Schedule</a>
                    <a class="dropdown-item" href="{% url 'scheduleresult' %}">Show Schedule</a>
                </div>
              </li>
              <li class="nav-item active">
                <a id = "textNavbar"  class="nav-link" href="/story5/#profile">ABOUT ME
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <p id="TextNama">ADD SCHEDULE</p>

      <div class="col">
        <form action='' method="POST">
            {% csrf_token %}
            {{ form }}
            <br>
            <div class="centre-items">
                <input type="submit" class="btn btn-secondary" id = 'warnaFont' value="Add Schedule">
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>