.btn {
    margin-top: 1%;
}

body {
    background-color: #FFEADB;
    margin-top: 15vh;
    margin-bottom: auto;
    font-family: 'Poppins', sans-serif;
}

#TextNama{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;;
    color: #E78867;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#oren{
    color: #E78867;
}

#buttonPrev{
    background-color: #f4511e;
    font-weight: bold;
    border: none;
    color: #FFEADB;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }