/* Story 1 */

#container1 {
  background-color: wheat;
  padding: 19px;
}

#title{
  color: sandybrown;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
}

#deskripsi {
  color: sandybrown;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: italic;
}

#foto{
  text-align: center;
}

#identitas{
  text-align: center;
  color: black;
}

#container2 {
  text-align: center;
  background-color: wheat;
}

#fotoSosmed {
  word-spacing: 2em;
}

td, th {
  border: 1px solid #000000;
}


/* Story4 */
body {
  background-color: #FFEADB;
}

.img-fluid0{
  max-width: 100%; 
  height: auto;
  float: left;
}

#navbar{    
  background-color: #E78867;
  position:fixed;
  width: 100%;
}

#navbar1{    
  background-color: black;
  position:fixed;
  width: 100%;
}

#textNavbar{
  color:  #FFEADB;
  font-family: 'Bebas Neue', cursive;
  font-size: xx-large;
  padding: 30px;
}

.navbar-toggler { 
  border-color:   #FFEADB;
}

.navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,234,219, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

#TextNama{
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;;
  text-align: center;
  color: #E78867;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#TextInterestsAndGoals{
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;;
  text-align: center;
  color: #637373;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#TextExperience{
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;;
  text-align: center;
  color: #C2816A;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#TextSkills{
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  text-align: center;
  color: #B58383;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Bio{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#Quotes{ 
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  font-size: 39px;
  line-height: 55px;
font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
}

#center{
  text-align: center;
}

@media only screen and (max-width: 767px) {
 p{
  font-size: 0.8em;
 }
}

/* tambahan untuk main page */
.center {
  margin: auto;
  padding: 50px;
}

#TextMainPage{
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;;
  color: #E78867;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#TextDescription{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;;
  color: gray;
}

#tombol{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;;
  text-align: center;
  color: gray;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#warnaFont{
  color: #E78867;
  font-weight: bold;
}

/* story7 */
.wrapper{
  width: 500px;
  margin: 80px auto 0;
}

.wrapper .accordion_wrap .accordion_header{
  width: 100%;
  height: 50px;
  background: #E78867;
  padding: 15px;
  color: #FFEADB;
  font-weight: 700;
  border-bottom: 2px solid #FFEADB;
  position: relative;
  cursor: pointer;
}

.wrapper .accordion_wrap:first-child .accordion_header{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.wrapper .accordion_wrap:last-child .accordion_header{
  border-bottom: 2px solid transparent;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.wrapper .accordion_wrap:last-child .accordion_header:hover{
  border-bottom: 2px solid transparent;
}

.wrapper .accordion_wrap .accordion_header:before,
.wrapper .accordion_wrap .accordion_header:after{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 20px;
  height: 2px;
  background: #E7E1E4;
}

.wrapper .accordion_wrap .accordion_header:hover{
  color: #E7E1E4;
  border-color: #E7E1E4;
}

.wrapper .accordion_wrap .accordion_header:hover:before,
.wrapper .accordion_wrap .accordion_header:hover:after{
  background: #E7E1E4;
}

.wrapper .accordion_wrap .accordion_header:after{
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}

.wrapper .accordion_wrap .accordion_body{
  width: 100%;
  height: 0px;
  transition: all 0.5s ease;
  background: #E7E1E4;
  overflow: hidden;
}

.wrapper .accordion_wrap .accordion_body p{
  padding: 15px;
  font-size: 15px;
  line-height: 22px;
  color: #8F8E8E;
  font-family: 'Poppins', sans-serif;
}

.wrapper .accordion_wrap .accordion_header.active{
  color: #E7E1E4;
  border-color:#E7E1E4;
}

.wrapper .accordion_wrap:last-child .accordion_header.active{
  border-bottom: 2px solid #E7E1E4;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.wrapper .accordion_wrap .accordion_header.active:before,
.wrapper .accordion_wrap .accordion_header.active:after{
  background: #E7E1E4;
}

.wrapper .accordion_wrap .accordion_header.active:after{
  transform: rotate(0deg);
}

.wrapper .accordion_wrap .accordion_header.active + .accordion_body{
  height: 180px;
}

#buttonPrev{
  font-weight: bold;
  border: none;
  color: #FFEADB;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}