body {
    background-color: #FFEADB;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

#navbar{    
    background-color: #E78867;
    position:fixed;
    width: 100%;
}

#TextNama{
    font-family: 'Bebas Neue';
    font-size: 70px;;
    text-align: center;
    color: #E78867;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

th{
    color:#E78867;
}

#search-bar{
    width:250px;
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-color: #E78867;
    border-radius: 15px;
}