{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Untuk Penggunaan Font Bebas Neue dan Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Menghubungkan css dengan html -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- For making a dropdown -->
    <script>
        $(document).ready(function(){
            $(".accordion_header").click(function(){
                $(".accordion_header").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
</head>

<body>
  <!-- Navbar -->
  <nav id ="navbar" class="navbar navbar-expand-lg navbar-static-top" >
    <div  class="container">
      <!-- Menampilkan logo -->
      <a class="navbar-brand" href="/">
        <img src="{% static 'photos/logo.png' %}" alt="" >
      </a>
    </div>
  </nav>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>  

  <!-- Title -->
  <p id="TextNama">ABOUT ME</p>

  <div class="wrapper">

    <!-- ACCORDION 1 -->
    <div class="accordion_wrap accordion_1">
      <div class="accordion_header">
        <div class="accordion-buttons col-2 d-flex justify-content-flex">
            <div class="button-up" id="up-accordion1">
              <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="button-down" id="down-accordion1">
              <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
              </svg>
            </div>
            MyActivity
        </div>
      </div>
      <div class="accordion_body">
        <p> - Nugas nugas nugas</p>
        <p> - Mikir gimana cara lulus SDA</p>
        <p> - Nyusun preprop CF 500++ lembar sama ayesha :)</p>
      </div>
    </div>

    <!-- ACCORDION 2 -->
    <div class="accordion_wrap accordion_1">
        <div class="accordion_header">
          <div class="accordion-buttons col-2 d-flex justify-content-flex">
              <div class="button-up" id="up-accordion1">
                <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="button-down" id="down-accordion1">
                <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                </svg>
              </div>
              Organisasi
          </div>
        </div>
        <div class="accordion_body">
          <p> - Bendahara PIK-R SMAN 1 Bekasi</p>
          <p> - Staf BEM Adkesma Fasilkom</p>
          <p> Soon: pengen ristek/sistem/sekre BEM ehehe</p>
        </div>
      </div>

      <!-- ACCORDION 3 -->
      <div class="accordion_wrap accordion_1">
        <div class="accordion_header">
          <div class="accordion-buttons col-2 d-flex justify-content-flex">
              <div class="button-up" id="up-accordion1">
                <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="button-down" id="down-accordion1">
                <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                </svg>
              </div>
              Kepanitiaan
          </div>
        </div>
        <div class="accordion_body">
          <p> - PJ Acara Wisgen</p>
          <p> - Staff of Stage Compfest</p>
          <p> - Staff of Public Relation Betis</p>
        </div>
      </div>

      <!-- ACCORDION 4 -->
      <div class="accordion_wrap accordion_1">
        <div class="accordion_header">
          <div class="accordion-buttons col-2 d-flex justify-content-flex">
              <div class="button-up" id="up-accordion1">
                <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="button-down" id="down-accordion1">
                <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                </svg>
              </div>
              Achievement
          </div>
        </div>
        <div class="accordion_body">
          <p> - Juara 1 Lomba Masak Antar Sekolah di Bekasi</p>
          <p> Semoga pertama: lomba business plan</p>
          <p> Semoga kedua: lomba design apapun itu</p>
        </div>
      </div>

  </div>

  <br>
  <br>
  <br>

  <!-- Button to go to previous page -->
  <div class="text-center">
    <a href="/" target="_blank">
        <button class="button" id="buttonPrev">Back</button>
      </a>
  </div>

  <br>
  <br>
  <br>

<!-- Script agar dapat menjalankan jquery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'story7.js' %}"></script>

</body>

</html>