{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 8</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'css/style8.css' %}">
</head>

<body>
    <!-- Navbar -->
    <nav id ="navbar" class="navbar navbar-expand-lg navbar-static-top" >
        <div  class="container">
          <!-- Menampilkan logo -->
          <a class="navbar-brand" href="/">
            <img src="{% static 'photos/logo.png' %}" alt="" >
          </a>
        </div>
    </nav>

    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- Searching Row -->
    <div class="container">
        <div class="row">
            <div class="col tengah">
                <p id="TextNama">ONLINE SEARCHING: BOOK</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" placeholder="type here" id="search-bar" name="search">
            </div>
        </div>
    </div>

    <br>

    <!-- Table of Book -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="align-middle">No</th>
                <th scope="col" class="align-middle">Cover</th>
                <th scope="col" class="align-middle">Title</th>
                <th scope="col" class="align-middle">Authors</th>
                <th scope="col" class="align-middle">Publisher</th>
                <th scope="col" class="align-middle">Published Date</th>
            </tr>
        </thead>
        <tbody id="hasil-search"></tbody>
        </table>

    <!-- Calling Javascript -->
    <script src="{% static 'story8.js' %}"></script>
</body>

</html>