{% extends 'base.html' %}
{% load static %}

<!-- Head (Extends dari base.html) -->

<!-- Body (Extends dari base.html) -->
<!-- Body setelah navbar-->
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Page Tambahan dengan CSS yang sama -->
<p id="TextNama">CURRICULUM VITAE</p>
<div id ="center">
    <img src="{% static 'photos/CV.jpg' %}" width=70% class="img-fluid" alt="Responsive image">  
    <br>
    <br>
    <br>
    <a href="{% static 'photos/CV.pdf' %}" download>
        <button id="TextNama" type="button" class="btn btn-light">download</button>
    </a>
    <br>
    <br>
    <br>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}