{% extends 'base.html' %}
{% load static %}
 
<!-- Head (Extends dari base.html) -->

<!-- Body (Extends dari base.html) -->
<!-- Body setelah navbar-->
{% block content %}
<br>
<br>

<!-- Section 1: Foto Profile, Bio, dan Sosial Media -->
<div id="profile">
  <img src="{% static 'photos/selfie.png' %}" class="img-fluid0">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <a id="TextNama" href="/" target="_blank">
    <p href="/">INDONESIA MAZAYA</p>
  </a>
  <p id=Bio> Information system student who has a high</p>
  <p id=Bio>  commitment, able to work independently and in </p>
  <p id=Bio> teams, and has an interest in technology and </p>
  <p id=Bio> design </p>
  <br>
  <div id="center">
    <a href="http://instagram.com/mazayazyn" target="_blank">
      <img src="{% static 'photos/instagram.png' %}" width="80px">
    </a>
    <a href="mailto:indonesiamazaya@gmail.com" target="_blank">
      <img src="{% static 'photos/email.png' %}" width="80px">
    </a>
    <a href="https://www.linkedin.com/in/mazayazyn" target="_blank">
      <img src="{% static 'photos/linkedin.png' %}" width="80x">
    </a>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Section 2: Foto Interests And Goals -->
<div id="interestsAndGoals">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p id="TextInterestsAndGoals">INTERESTS AND GOALS</p>
    <br>
    <br>
    <div id="center">
      <img src="{% static 'photos/interestsGoals.png' %}" width=70% class="img-fluid" alt="Responsive image">
    </div>  
</div>
<br>

<!-- Section 3: Slide dari Foto Experience -->
<div id="experience">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p id="TextExperience">EXPERIENCE</p>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'photos/stageCompfest.png' %}" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'photos/LOWisgan.png' %}" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'photos/BEMAdkesma.png' %}" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Section 4: Foto dari Icon Skills -->
<div id="skills">
<p id="TextSkills">SKILLS</p>
<br>
<p id = Quotes class="text-center">"Don't Stop Until You're Proud"</p>
<br>
<br>
    <div id="center">
      <img src="{% static 'photos/skills.png' %}" width=1250px class="img-fluid" alt="Responsive image">
    </div>  
</div>

<br>
<br>
<br>
<br>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}