<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story</title>
    {% load static %}
    <!-- Bootstrap untuk tabel -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Menghubungkan css dengan html -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body style="background-color:sandybrown">
    <!-- Membuat header -->
    <div id="container1">
      <a id="title" href="/" target="_blank">
        <h1 id="title">indonesia mazaya</h1>
      </a>
      <p id="deskripsi">Information system student who has a high commitment,</p>
      <p id="deskripsi">Able to work independently and in teams, and</p>
      <p id="deskripsi">Has an interest in technology and design</p>
    </div>

    <br>
    <br>
    <br>

    <!-- Foto Profil -->
    <div id="foto">
      <img src="{% static 'photos/FotoAzza.JPG' %}" alt="foto_azza" width="25%"><br>
    </div>

    <br>
    
    <!-- Identitas -->
    <p id="identitas">NPM: 1906399000</p>
    <p id="identitas">Angkatan: Maung 2019</p>
    <p id="identitas">Tempat Kuliah: Universitas Indonesia</p>
    <p id="identitas">Hobi: Design dan Memasak</p>

    <br>
    <br>

    <!-- Membuat Tabel -->
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Pendidikan</th>
            <th scope="col">Tahun</th>
            <th scope="col">Nama Sekolah</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">SD</th>
            <td>2007 - 2013</td>
            <td>SD Al Imam Islamic School</td>
          </tr>
          <tr>
            <th scope="row">SMP</th>
            <td>2013 - 2016</td>
            <td>SMP Labschool Cibubur</td>
          </tr>
          <tr>
            <th scope="row">SMA</th>
            <td>2016 - 2019</td>
            <td>SMAN 1 Bekasi</td>
          </tr>
          <tr>
            <th scope="row">Perguruan Tinggi</th>
            <td>2019 - Sekarang</td>
            <td>Universitas Indonesia</td>
          </tr>
        </tbody>
      </table>

      <br>
      <br>
      <br>

      <!-- Logo sosial media yang mengarah ke link account kita -->
      <div id="container2">
        <br>
        <p>Contact me!</p>
        <div id="fotoSosmed">
          <a href="http://indonesiamazaya.wordpress.com" target="_blank">
            <img src="{% static 'photos/wordpress0.png' %}" width="60px">
          </a>
          <a href="http://twitter.com/4_2_2_4" target="_blank">
            <img src="{% static 'photos/twitter0.png' %}" width="60px">
          </a>
          <a href="http://instagram.com/mazayazyn" target="_blank">
            <img src="{% static 'photos/instagram0.png' %}" width="60x">
          </a>
          <a href="https://www.linkedin.com/in/mazayazyn" target="_blank">
            <img src="{% static 'photos/linkedin0.png' %}" width="60px">
          </a>
        </div>
        <br>
        <p>Copyright 2020 Mazaya, All rights Reserved</p>
        <br>
      </div>

</body>
</html>