<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indonesia Mazaya</title>
    {% load static %}
    <!-- Untuk Penggunaan Font Bebas Neue dan Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Menghubungkan css dengan html -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body style="background-color:#FFEADB">
    <div class="center">
        <p id="TextMainPage">AISYAH INDONESIA MAZAYA ZAYN</p>
        <p id="TextMainPage">1906399000</p>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="text-center" class="btn-group mr-2" role="group" aria-label="First group">
                <a href="story1/"
                    <button id="tombol" type="button" class="btn btn-light"></button>Story 1</button>
                </a>
                <a href="story5/"
                    <button id="tombol" type="button" class="btn btn-light"></button>Story 5</button>
                </a>
                <a href="story6/"
                    <button id="tombol" type="button" class="btn btn-light"></button>Story 6</button>
                </a>
                <a href="story7/"
                    <button id="tombol" type="button" class="btn btn-light"></button>Story 7</button>
                </a>
                <a href="story8/"
                    <button id="tombol" type="button" class="btn btn-light"></button>Story 8</button>
                </a>
                <a href="story9/"
                    <button id="tombol" type="button" class="btn btn-light"></button>Story 9</button>
                </a>
            </div>
        </div>
        <br>
        <p id="TextDescription">*click "indonesia mazaya" to go to this page</p>
    </div>
        
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>